header {
  position: relative;
  height: 9.625em;
  margin: 0 auto;
  top: 3.875em;
  background-color: #444341;
}
header > .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: inherit;
  width: 530px;
  
}

.fullname {
  box-sizing: border-box;
  padding-left: 5px;
  width: 300px;
}

.fullname > h1 {  
  color: white;
  font-weight: 600;
  font-size: 1.6em;
  font-family: "Microsoft YaHey", "Helvetica";
  text-transform: uppercase;
}

.photo {
  position: relative;
  border: 4px solid #535353;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-image: url(./img/profile_pic.jpg);
}

.photo > span {
  display: none;
  text-align: center;
}
